@import './variables.scss';
@import './blue-theme.scss';
@import './night-theme.scss';

#app {
	height: 100%;
	overflow: hidden;

	#Layout {
		height: 100%;

		.el-container {
			height: 100%;

			&.body {
				height: calc(100% - 60px);
				overflow: hidden;
			}
		}
	}

	
}

.pswp {
	z-index: 9999 !important;
}

.el-table {
	.el-table__fixed-right {
		height: 100% !important;

		.el-table__fixed-body-wrapper {
			top: 40px !important;
		}
	}
}

.el-table th>.cell {
	font-size: 14px;
	font-weight: bold;
	// text-align: center;
}

.el-scrollbar__wrap {
	overflow-x: hidden !important;
	margin-bottom: 0 !important;
}

.el-button .iconfont {
	display: inline-table;
	margin-right: 4px;
	font-size: 12px;
}

.el-button .iconfont,
.el-button span {
	cursor: pointer;
}

.el-button.is-disabled .iconfont,
.el-button.is-disabled span {
	cursor: not-allowed;
	color: #999 !important;
}

// 选择时间区间
.el-range-editor.el-input__inner {
	width: 410px !important;
}

.el-table {
	.el-switch {
		margin-right: 8px;
	}

	th {
		background-color: #f5f5f6;
	}
}

.el-form .el-form-item__content img {
	vertical-align: middle;
}

.el-dialog {
	.el-dialog__header {
		padding: 10px 20px !important;
		text-align: left;
		border-bottom: 1px solid #eee;

		.el-dialog__title {
			font-size: 14px;
		}
	}

	.el-dialog__body {
		padding: 0px 20px;
		padding-bottom: 20px;

		.title_info {
			margin-top: 10px;
			margin-bottom: 10px;
			line-height: 1.8em;
			text-align: left;
			border-bottom: 2px solid #66b1ff;

			i {
				margin-right: 4px;
			}
		}

		.CdtForm {
			padding-right: 80px;
			padding-top: 20px;
		}
	}

	.el-dialog__footer {
		padding: 10px 20px !important;

		.el-button {
			padding: 8px 20px;
		}
	}
}
.el-drawer {
	overflow: hidden !important;

	.el-drawer__header {
		padding: 10px 20px !important;
		margin-bottom: 0;
		border-bottom: 1px solid #eee;

		span {
			font-size: 14px;
		}
	}

	.el-drawer__body {
		padding: 0 30px;
		padding-bottom: 30px;

		.title_info {
			margin-top: 10px;
			line-height: 1.8em;
			text-align: left;
			border-bottom: 2px solid #66b1ff;

			i {
				margin-right: 4px;
			}
		}

		.CdtForm {
			padding-right: 80px;
			background: #f9f9f9;
		}
	}

	.el-drawer__footer {
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 10px;
	}
}

.el-popover {
	max-height: 500px;
	overflow: auto;
}

.el-collapse {
	border-color: transparent !important;

	.el-collapse-item__header {
		position: relative;
		// padding-left: 20px;
		// margin-top: 10px;
		// height: 28px !important;
		border-bottom: 2px solid #66b1ff !important;

		&.is-active {
			border-bottom-color: #66b1ff !important;
		}

		// .el-collapse-item__arrow {
		// 	position: absolute;
		// 	left: 0;
		// 	margin: 0 auto 0 2px !important;
		// }
	}

	.el-collapse-item__wrap {
		border-bottom-color: transparent;

		.el-collapse-item__content {
			padding-bottom: 0;
		}
	}
}

.el-upload-dragger {
	background: transparent !important;
}

// 造字工房版黑
@font-face {
	font-family: 'MFBanHei';
	src: url('../assets/font/MFBanHei_Noncommercial-Regular.ttf') format('truetype');
}

// 覆盖table样式
.el-table th>.cell {
	font-size: 12px;
}

.el-form-item--mini .el-form-item__label {
	line-height: 34px;
}

.el-drawer .el-drawer__body {
	overflow: scroll;
}

// 去除菜单栏下拉边框
.el-dropdown-menu {
	border: 0px !important;
}

.el-message-box {
	border: 0px !important;
}

// checkbox边距调整
.el-tree-node__content>.el-checkbox {
	margin-right: 8px;
}

.el-collapse .el-collapse-item__header {
	font-weight: 900;
}

.el-form-item__label {
	font-weight: 900;
}

// 点击更多
.clickMore {
	text-align: center;
	padding: 10px;
	font-size: 12px;
	background-color: #fdfbf9;
	color: #909399;
	cursor: pointer;
}

.noMore {
	text-align: center;
	padding: 10px;
	font-size: 12px;
	background-color: #fdfbf9;
	color: #909399;
} 

.el-form_span {
	margin-left: 20px;
}

.el-dropdown-menu__item {
	list-style: none;
    line-height: 28px;
    padding: 6px 20px;
    text-align: center;
    font-size: 14px;
    color: #606266;
    cursor: pointer;
    outline: none;
}

.AppHeader {
	.menu-container {
		.el-menu-demo {
			.el-menu-item.is-active {
				border: 1px solid rgb(253, 230, 198) !important;
			}
		}
	}
}

// 预警概览 ywlx
.ywlxClass {
display: inline-block;
	position: absolute;
	right: 20px;
	border: 1px solid #409eff;
	border-radius: 4px;
	padding: 0px 10px;
	line-height: 26px;
	color: #409eff;
}

.blue-theme .el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .blue-theme .el-table__body tr.current-row>td {
	background-color: #296BA7;
}

.el-table__body tr.hover-row > td, .el-table__body tr.hover-row.current-row > td, .el-table__body tr.hover-row.el-table__row--striped > td, .el-table__body tr.hover-row.el-table__row--striped.current-row > td{
	background-color: #ecf5ff;
}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row > td {
	background-color: #ecf5ff;
}
.el-form-item--mini .el-form-item__content {
	width: calc(100% - 100px);
}
.el-form-item__content .el-input-group {
	vertical-align: baseline;
}

// 客户端提示语
.waringTip {
  color: #ff5722;
}

.el-tooltip__popper.is-dark {
	max-width: 80%;
}
