// 主背景颜色
$-night-bg-color: #141118;
$-light-bg-color: #fff;

// 次背景颜色
$-night-bg-color-2nd: #303030;
$-light-bg-color-2nd: #ebedf3;


// 分割线颜色
$-night-border-color: #77797f;
$-night-primary-color: #cbbb1c;
$-light-primary-color: #4a9bff;


